<%- include('../header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
                            <li><a href="/admin/createblog">CREATE BLOGS</a></li>
                            <li><a href="/admin/displayblog">DISPLAY BLOGS</a></li>
                            <li><a href="/admin/createcategory">CREATE CATEGORIES</a></li>
                            <li><a href="/admin/displaycategory">DISPLAY CATEGORIES</a></li>
                            <li><a href="/contact">CREATE CONTACT</a></li>
                            <li><a href="/admin/displaycontact">DISPLAY CONTACTS</a></li>
                            <li><a href="/about">Pages</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <h1>Dashboard</h1>
                        <b><p>Run by The Scientific American, The Sciences is a must-read, accessible take on science topics as far ranging as Mind, Health, Tech and Sustainability.</p></b>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../footer.ejs') %>