<%- include('./header.ejs') %>

<section style="background-color: rgb(73, 29, 51);" 
class="cmspage mtb-40">
    <div class="container">
      <h1 style="font-family: cursive; color: rgb(179, 52, 71); font-size: xx-large;">❤️About Us❤️</h1>
      <div class="page-desc">
        <i><p style="font-family: cursive; font-size: larger; color: lightcoral;">"Blogger" redirects here. For the Google service, see Blogger (service). For other uses, see Blog (disambiguation).</p></i>
        <i><p style="font-family: cursive; font-size: small; color: rgb(205, 84, 195);">A blog (a truncation of "weblog")is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were usually the work of a single individual,[citation needed] occasionally of a small group, and often covered a single subject or topic. In the 2010s, "multi-author blogs" (MABs) emerged, MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter a Blog can also be used as a verb, meaning to maintain or add content to a blog.</p></i>
      </div>
      <div class="row mb-4">
       <div class="col-6">
           <img class="img-fluid" src="https://media.istockphoto.com/photos/increasing-her-efforts-to-maximise-her-success-picture-id599104836?k=20&m=599104836&s=612x612&w=0&h=2n5Gk_YV9xqJpk2OO9_UDshTKLg28rmSnzG-kUHnLls=" width="350" height="350" alt="">
          
       </div>
    </div>
    <a href="" class="btn btn-primary mt-1 ">Read more</a>
   </div>
   </div>

    </section>
</section>


<%- include('./footer.ejs') %>