<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/styles.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-blue">
    	<div class="container">
	      <a class="navbar-brand" href="/">
	      	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0-hzTJtmMUz02_A2ZBa4CVt0VKf2cp4WH5A&usqp=CAU" alt="Express Project" />
	      </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarCollapse">
	        <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: x-large;" class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: x-large;" class="nav-link" href="/about" target="_blank">About</a>
              </li>
              <li class="nav-item">
                <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: x-large;" class="nav-link" href="/contact" target="_blank">Contact</a>
              </li>
              <li class="nav-item">
                <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: x-large;" class="nav-link" href="/blog">Blog</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: x-large;" href="/login" class="nav-link">Login</a>
                </li>
            </ul>
	      </div>
  		</div>
    </nav>